*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
span{
    border:2px solid red;
}
span.a{
    color:blue;
    height:100px;
    width:100px;
    background-color:yellow;
    display: none;
}
span.b{
    height:100px;
    width:100px;
    background-color:yellow;
    display:inline;
}
span.c{
    height:100px;
    width:100px;
    background-color:yellow;
    display:inline-block;
}
span.d{
    height:100px;
    width:100px;
    background-color:yellow;
    display:block;
}
p{
    margin:100px 150px 100px 80px;
    border-left:10px double brown;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    background-color:lightcoral;
    padding:30px 10px 20px 30px;
}